<%- include('./templates/navbar.ejs') %>
<div class="error">
    <img src="logo_png.webp"/>
    <h2>Ουπς, η σελίδα που ψάχνεις δεν υπάρχει!</h2>
    <p><a href="/">Πάτα εδώ</a> για να μεταφερθείς στην Αρχική</p>
</div>

