<%- include('./templates/navbar.ejs') %>
<div class="gallery">
    <h2>Gallery</h2>
    <div class="gallery_content">
        <img class="gallery_img" src="img_1.jpg" alt="image 1"/>
        <img class="gallery_img" src="img_2.jpg" alt="image 2"/>
        <img class="gallery_img" src="img_3.jpg" alt="image 3"/>
        <img class="gallery_img" src="img_4.jpg" alt="image 4"/>
        <img class="gallery_img" src="img_5.jpg" alt="image 5"/>
        <img class="gallery_img" src="img_6.jpg" alt="image 6"/>
        <img class="gallery_img" src="img_7.jpg" alt="image 7"/>
        <img class="gallery_img" src="img_8.jpg" alt="image 8"/>
        <img class="gallery_img" src="img_9.jpg" alt="image 9"/>
        <img class="gallery_img" src="wedding.png" alt="image 10"/>
        <img class="gallery_img" src="img_10.jpg" alt="image 10"/>
        <img class="gallery_img" src="img_11.jpg" alt="image 10"/>
    </div>
</div>
<%- include('./templates/footer.ejs'); %>