<%- include('./templates/navbar.ejs') %>
<script defer src="gallery.js"></script>
<div class="gallery">
    <div class="filters">
        <button id="all" class="filter 0">Όλα</button>
        <button id="general" class="filter 1">Γενικά</button>
        <button id="candles" class="filter 2">Κεριά</button>
        <button id="decorations" class="filter 3">Διακόσμηση</button>
        <button id="furniture" class="filter 4">Έπιπλα</button>
        
    </div>
    <div class="gallery_content">
        <img class="gallery_img general_category all_category" src="img_1.webp" alt="image 1"/>
        <img class="gallery_img decorations_category all_category" src="img_2.webp" alt="image 2"/>
        <img class="gallery_img general_category all_category" src="img_3.webp" alt="image 3"/>
        <img class="gallery_img general_category all_category" src="img_4.webp" alt="image 4"/>
        <img class="gallery_img candles_category all_category" src="img_5.webp" alt="image 5"/>
        <img class="gallery_img candles_category all_category" src="img_6.webp" alt="image 6"/>
        <img class="gallery_img candles_category all_category" src="img_7.jpg" alt="image 7"/>
        <img class="gallery_img candles_category all_category" src="img_8.jpg" alt="image 8"/>
        <img class="gallery_img candles_category all_category" src="img_9.jpg" alt="image 9"/>
        <img class="gallery_img decorations_category all_category" src="wedding.png" alt="image wedding"/>
        <img class="gallery_img decorations_category all_category" src="img_10.webp" alt="image 10"/>
        <img class="gallery_img general_category all_category" src="img_11.webp" alt="image 11"/>
        <img class="gallery_img decorations_category all_category" src="img_12.webp" alt="image 12"/>
        <img class="gallery_img decorations_category all_category" src="img_13.webp" alt="image 13"/>
        <img class="gallery_img decorations_category all_category" src="img_14.webp" alt="image 14"/>
        <img class="gallery_img general_category all_category" src="img_16.webp" alt="image 16"/>
        <img class="gallery_img general_category all_category" src="furniture.webp" alt="image furniture" />

        <!--added images at 22/06/2024-->
        <img class="gallery_img furniture_category all_category" src="img_17.jpg" alt="image furniture" />
        
        <img class="gallery_img furniture_category all_category" src="img_18.jpg" alt="image furniture" />
        
        <img class="gallery_img furniture_category all_category" src="img_19.jpg" alt="image furniture" />
        
        <img class="gallery_img furniture_category all_category" src="img_20.jpg" alt="image furniture" />
        <img class="gallery_img furniture_category all_category" src="img_21.jpg" alt="image furniture" />
        <img class="gallery_img furniture_category all_category" src="img_22.jpg" alt="image furniture" />
        <img class="gallery_img furniture_category all_category" src="img_23.jpg" alt="image furniture" />
        <img class="gallery_img decorations_category all_category" src="img_24.jpg" alt="image decoration" />
        <img class="gallery_img decorations_category all_category" src="img_25.jpg" alt="image decoration" />
        <img class="gallery_img decorations_category all_category" src="img_26.jpg" alt="image decoration" />
        <img class="gallery_img decorations_category all_category" src="img_27.jpg" alt="image decoration" />
        <img class="gallery_img decorations_category all_category" src="img_32.jpg" alt="image decoration" />
        <img class="gallery_img decorations_category all_category" src="img_34.jpg" alt="image decoration" />
        <img class="gallery_img decorations_category all_category" src="img_35.jpg" alt="image decoration" />
        <img class="gallery_img decorations_category all_category" src="img_36.jpg" alt="image decoration" />
        
    </div>
</div>
<%- include('./templates/footer.ejs'); %>