<%- include('./templates/navbar.ejs') -%>
<div class="home">
    <%- include('./templates/photoCarousel.ejs') -%>
    <%- include('./templates/hero.ejs') -%>
</div>
<%- include('./templates/footer.ejs') -%>
