<footer>
    <div class="top">
        <div class="content">
            <div class="footer_navbar">
                <h2 class="footer_heading">Πλοήγηση</h2>
                <ul>
                    <li><a href='/'>Αρχική</a></li>
                    <li><a href='/services'>Υπηρεσίες</a></li>
                    <li><a href='/contact'>Επικοινωνία</a></li>
                    <li><a href='/gallery'>Gallery</a></li>
                </ul>
            </div>
            <div class="social">
                <h2 class="footer_heading">Social Media</h2>
                <ul>
                    <li><a href='https://www.instagram.com/chalk_59_/' target="_blank">Instagram</a></li>
                    <li><a href='https://www.facebook.com/profile.php?id=61554995596820' target="_blank">Facebook</a></li>
                    <li><a href='' target="_blank">Youtube</a></li>
                    <li><a href='' target="_blank">Tiktok</a></li>
                </ul>
            </div>
            <div class="footer_contact">
                <h2 class="footer_heading">Επικοινωνία</h2>
                <div class="info">
                    <p class="address">Ελευθερίας 59</p>
                    <p class="area">Εύοσμος Θεσσαλονίκη</p>
                    <p class="bussiness_tel">Σταθερό 2310 642 051</p>
                    <p class="mobile">Κινητό 6986 976 804</p>
                </div>
            </div>
            
        </div>    
    </div>
    
    <div class="bottom">
        <div class="footer_attribution">
            <p>Designed and Built by <a href="https://kosmiadislinktree.netlify.app">Vagelis Kosmiadis</a></p>
        </div>
        
        <div class="copyright">
            <p><span id="brand">Chalk59</span>  <%= year %> Copyright ©</p>
        </div>
    </div>
    
    
</footer>
</body>
</html>