<div class="hero">
    <div class="welcome">
        <p class="hero_welcome">Καλωσήρθατε στο <span id="brand">Chalk59</span></p>
        <img id="hero_logo" src="logo_png.png" alt="logo_img"/>
    </div>

    <div class="text_wrapper">
        <div class="text">
            <div class="article_wrapper">
                
                <article class="main paragraph">
                    <h2>Με τι ασχολούμαστε;</h2>
                    Εδώ, στο <b><i>Chalk59</i></b>, αναζητούμε την ομορφιά σε κάθε λεπτομέρεια.
                    Ανεβάζουμε τον πήχη της διακόσμησης και της αναπαλαίωσης 
                    επίπλων σε ένα εντελώς νέο επίπεδο. Με μια ποικιλία υπηρεσιών 
                    που περιλαμβάνουν από την πώληση χρωμάτων και αξεσουάρ έως τη 
                    διακόσμηση γάμων με εξαιρετική προσοχή στη λεπτομέρεια, έχουμε 
                    ως στόχο να κάνουμε κάθε σας εμπειρία εδώ αξέχαστη.
                </article>
                <img src="quotes.png"/>
            </div>
            <div class="article_wrapper">
                <article class="secondary paragraph">
                    <h2>Σεμινάρια</h2>
                    Εκμάθηση και δημιουργία συναντιούνται στα σεμινάριά μας, 
                    προσφέροντας σας τη δυνατότητα να ανακαλύψετε τον καλλιτέχνη 
                    μέσα σας και να δημιουργήσετε κάτι μοναδικό. Εδώ, η γνώση 
                    συναντά τη δημιουργικότητα και η έμπνευση εκτοξεύεται σε νέα ύψη.
                    Κλείστε μία αξέχαστε συνάντηση μαζί μας στην καρτέλα <i>Επικοινωνία.</i>
                </article>
                <img src="profile.png"/>
            </div>
            <div class="article_wrapper">
                <article class="third paragraph">
                    <h2>Φαντασία, Ομορφιά</h2>
                    Καλωσορίσατε στον κόσμο του <b><i>Chalk59</i></b>, ένας κόσμος 
                    όπου η φαντασία γίνεται πραγματικότητα και η ομορφιά ανθίζει σε 
                    κάθε γωνιά. Εδώ, η κάθε γραμμή είναι ένας κόσμος αναμονής για 
                    να ανακαλύψετε τα μυστικά του, να περπατήσετε μέσα από τα μονοπάτια 
                    της φαντασίας και να ανακαλύψετε νέες ιστορίες που περιμένουν να 
                    ζωντανέψουν στο μυαλό σας.
                </article>
                <img src="flower.png"/>
             </div> 
        </div>
    </div>
    
    
    <div class="services">
        <h2 id="services_heading">Εξευρεύνησε τις υπηρεσίες μας!</h2>
        <a href="/services"><button id="services_btn">Δες εδώ</button></a>
    </div>
</div>