<div class="hero">
    <div class="welcome">
        <p class="hero_welcome">Καλωσήρθατε στο <span id="brand">Chalk59</span></p>
        <img id="hero_logo" src="logo_png.png" alt="logo_img"/>
    </div>

    <div class="text">
        <p class="main paragraph">
            Εδώ, στο <b><i>Chalk59</i></b>, αναζητούμε την ομορφιά σε κάθε λεπτομέρεια.
            Ανεβάζουμε τον πήχη της διακόσμησης και της αναπαλαίωσης 
            επίπλων σε ένα εντελώς νέο επίπεδο. Με μια ποικιλία υπηρεσιών 
            που περιλαμβάνουν από την πώληση χρωμάτων και αξεσουάρ έως τη 
            διακόσμηση γάμων με εξαιρετική προσοχή στη λεπτομέρεια, έχουμε 
            ως στόχο να κάνουμε κάθε σας εμπειρία εδώ αξέχαστη.
        </p>
        <p class="secondary paragraph">
            Εκμάθηση και δημιουργία συναντιούνται στα σεμινάριά μας, 
            προσφέροντας σας τη δυνατότητα να ανακαλύψετε τον 
            καλλιτέχνη μέσα σας και να δημιουργήσετε κάτι μοναδικό.
        </p>
        <p class="third paragraph">
            Καλωσορίσατε στον κόσμο του <b><i>Chalk59</i></b>, όπου η φαντασία 
            γίνεται πραγματικότητα και η ομορφιά είναι σε κάθε γωνιά.
        </p>
    </div>
    
    <div class="services">
        <h2 id="services_heading">Εξευρεύνησε τις υπηρεσίες μας!</h2>
        <a href="/services"><button id="services_btn">Δες εδώ</button></a>
    </div>
</div>