<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chalk59 | <%= page %></title>
    <link rel="icon" href="logo_icon.ico">
    <link rel="stylesheet" href="style.css">
    <script defer src="hamburger.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/" class="nav_home">
                    <p>Chalk59 <div class="line"></div> </p>
                </a>
            </div>
            <div class="hamburger">
                <img id='hamburger' src="menu_icon_black.png" alt="hamburger_icon">
            </div>
            <div class="links">
                <img id="close" src="close_menu_icon.png" alt="close_icon"/>
                <ul>
                    <li><a href="/">Home</a><div class="line"></div></li>
                    <li><a href="/services">Υπηρεσίες</a><div class="line"></div></li>
                    <li><a href="/contact">Επικοινωνία</a><div class="line"></div></li>
                    
                </ul>
                <div class="attribution">
                    <p>Designed and built by <a target="_group" href='https://kosmiadislinktree.netlify.app'>Vagelis Kosmiadis</a></p>
                </div>
            </div>
        </div>
    </header>