<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Αναπαλαιώσεις επίπλων, Είδη δώρων γάμου και βαφτίσεων, Εμπορία χρωμάτων κιμωλίας & ειδών 
    τεχνοτροπίας, Σεμινάρια Βαψίματος & τεχνοτροπιών, Vintage Στέφανα Γάμου - Λαμπάδες - Μπομπονιέρες">
    <title>Chalk59 | <%= page %></title>
    <link rel="icon" href="logo_icon.ico">
    <link rel="stylesheet" href="style.css">
    <script defer src="hamburger.js"></script>
    <script defer src="loader.js"></script>
</head>
<body>
    <div class="onload_loader">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/" class="nav_home">
                    <span id="brand">Chalk59</span>
                </a>
            </div>
            <div class="hamburger">
                <img id='hamburger' src="menu_icon.svg" alt="hamburger_icon">
            </div>
            <div class="links">
                <svg id="close" xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: msFilter"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
                <ul>
                    <li><a href="/">Αρχική</a><div class="line"></div></li>
                    <li><a href="/services">Υπηρεσίες</a><div class="line"></div></li>
                    <li><a href="/gallery">Gallery</a><div class="line"></div></li>
                    <li><a href="/contact">Επικοινωνία</a><div class="line"></div></li>
                </ul>
                <div class="attribution">
                    <p>Designed and built by <a target="_group" href='https://kosmiadislinktree.netlify.app'>Vagelis Kosmiadis</a></p>
                </div>
            </div>
        </div>
    </header>
