<script defer src="heroCarousel.js"></script>
<div class="photo_carousel">
    <div class="inner">
        <div class="photo"><img src="img_1.jpg"/></div>
        <div class="photo"><img src="img_2.jpg"/></div>
        <div class="photo"><img src="img_3.jpg"/></div>
        <div class="photo"><img src="img_4.jpg"/></div>
        <div class="photo"><img src="img_5.jpg"/></div>
        <div class="photo"><img src="img_6.jpg"/></div>
        <div class="photo"><img src="img_7.jpg"/></div>
        <div class="photo"><img src="img_8.jpg"/></div>
        <div class="photo"><img src="img_9.jpg"/></div>
    </div>
</div>