<script defer src="carousel.js"></script>
<div class="services_preview">

    <h2 class="services_heading">Τι παρέχουμε;</h2>
    <div class="services carousel">
        
    <div class="inner">

        
        <div class="service">
            <!--<div class="service_hero furniture">
                
            </div>
        -->
            <div class="text">
                <h2 class="service_inner_heading">Αναπαίωση Επίπλων</h2>
                <p>
                    Με αγάπη και επιδεξιότητα, 
                    αναβιώνουμε τα παλιά σας έπιπλα, 
                    δίνοντάς τους νέα ζωή και χαρακτήρα. 
                    Φροντίζουμε για την 
                    ακεραιότητα και την αισθητική τους στο μέγιστο!
                </p>
            </div>
            <a href="/contact"><button id="contact_us_btn">Επικοινώνησε</button></a>
        </div>
    
        <div class="service">
            <!--<div class="service_hero gifts">
                
            </div>
        -->
            <div class="text">
                <h2 class="service_inner_heading">Είδη Δώρων Γάμου-Βάφτισης</h2>
                <p>
                    Με λεπτομερή προσοχή στην 
                    εκάστοτε επιθυμία και ιδιαιτερότητα 
                    του ζευγαριού, δημιουργούμε εντυπωσιακά 
                    διακοσμητικά στοιχεία που θα 
                    κάνουν την ημέρα του γάμου σας μοναδική. 
                </p>
            </div>
            <a href="/contact"><button id="contact_us_btn">Επικοινώνησε</button></a>
        </div>
    
        <div class="service">
            <!--<div class="service_hero colors">
                
            </div>
        -->
            <div class="text">
                <h2 class="service_inner_heading">Εμπορία Χρωμάτων Κιμωλίας</h2>
                <p>
                    Απογειώστε τη δημιουργικότητά σας με 
                    την πλούσια ποικιλία χρωμάτων κιμωλίας 
                    και ειδών τεχνοτροπίας που έχουμε 
                    να προσφέρουμε.
                </p>
            </div>
            <a href="/contact"><button id="contact_us_btn">Επικοινώνησε</button></a>
        </div>
    
        <div class="service">
            <!--<div class="service_hero wedding">
                
            </div>
        -->
            <div class="text">
                <h2 class="service_inner_heading">Vintage Στέφανα Γάμου - Λαμπάδες - Μπομπονιέρες</h2>
                <p>
                    Δημιουργήστε μια μοναδική ατμόσφαιρα 
                    στον γάμο σας με τα ρέτρο στέφανα, 
                    τις λαμπάδες και τις μπομπονιέρες 
                    μας, που θα κλέψουν τις εντυπώσεις και 
                    θα δημιουργήσουν αξέχαστες στιγμές.
                </p>
            </div>
            <a href="/contact"><button id="contact_us_btn">Επικοινώνησε</button></a>
        </div>
    
        <div class="service">
            <!--<div class="service_hero seminars">
                
            </div>
        -->
            <div class="text">
                <h2 class="service_inner_heading">Σεμινάρια Βαψίματος</h2>
                <p>
                    Εξερευνήστε τον κόσμο των χρωμάτων 
                    και των τεχνικών μέσα από τα διασκεδαστικά 
                    και εκπαιδευτικά μας σεμινάρια, και 
                    ανακαλύψτε τη δημιουργικότητα μέσα σας.
                </p>
            </div>
            <a href="/contact"><button id="contact_us_btn">Επικοινώνησε</button></a>
        </div>
    </div>
    
    </div>

    <div class="carousel_navigation">
        
        <button id="prev_btn" class="carousel_nav"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg></button>
        <button id="next_btn" class="carousel_nav"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></button>
    </div>
    
    <div class="contact_us">
        <h2>Επικοινώνησε μαζί μας.</h2>
        <a href="/contact"><button id="contact_us_btn">Πάτα εδώ</button></a>
    </div>

</div>