<script defer src="handleDropdown.js"></script>
<script defer src="animateAll.js"></script>
<div class="services_preview">
    <div class="services_wrapper">
        <div class="services fadeIn">
            <h2 id="services_heading">Εξερευνήστε τις υπηρεσίες μας!</h2>
            <div class="service_wrapper">
                <button class="service dropdown">
                <h2 class="service_inner_heading">Αναπαλαίωση Επίπλων</h2></button>
                <div class="service_text">
                    <p>
                        Με αγάπη και επιδεξιότητα, 
                        αναβιώνουμε τα παλιά σας έπιπλα, 
                        δίνοντάς τους νέα ζωή και χαρακτήρα. 
                        Φροντίζουμε για την 
                        ακεραιότητα και την αισθητική τους στο μέγιστο!
                    </p>
                </div>
            </div>

            <div class="service_wrapper">
                <button class="service dropdown">
                <h2 class="service_inner_heading">Είδη Δώρων Γάμου-Βάφτισης</h2></button>
                <div class="service_text">
                    <p>
                        Με λεπτομερή προσοχή στην 
                        εκάστοτε επιθυμία και ιδιαιτερότητα 
                        του ζευγαριού, δημιουργούμε εντυπωσιακά 
                        διακοσμητικά στοιχεία που θα 
                        κάνουν την ημέρα του γάμου σας μοναδική. 
                    </p>
                </div>
            </div>

            <div class="service_wrapper">
                <button class="service dropdown">
                <h2 class="service_inner_heading">Εμπορία Χρωμάτων Κιμωλίας</h2></button>
                <div class="service_text">
                    <p>
                        Απογειώστε τη δημιουργικότητά σας με 
                        την πλούσια ποικιλία χρωμάτων κιμωλίας 
                        και ειδών τεχνοτροπίας που έχουμε 
                        να προσφέρουμε.
                    </p>
                </div>
            </div>

            <div class="service_wrapper">
                <button class="service dropdown">
                <h2 class="service_inner_heading">Σεμινάρια Βαψίματος</h2></button>
                <div class="service_text">
                    <p>
                        Εξερευνήστε τον κόσμο των χρωμάτων 
                        και των τεχνικών μέσα από τα διασκεδαστικά 
                        και εκπαιδευτικά μας σεμινάρια, και 
                        ανακαλύψτε τη δημιουργικότητα μέσα σας.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_us ">
        
        <div class="inner fadeIn">
            <h2>Επικοινώνησε μαζί μας.</h2>
            <p>Αφότου πήρατε μία γεύση από τις υπηρεσίες μας μην διστάσετε 
                να εποικοινωνήσετε μαζί μας. Είμαστε πρόθυμοι να λύσουμε κάθε τυχόν απορία και
                να σας εξασφαλίσουμε άριστη και αξέχαστη εμπειρία!
            </p>
            <a href="/contact"><button id="contact_us_btn">Επικοινωνία</button></a>
        </div>
    </div>
</div>