
<div class="services_preview">
    <h2 class="services_heading">Τι παρέχουμε;</h2>
    <div class="services">
    
        <div class="service">
            <div class="text">
                <h2 class="service_inner_heading">Αναπαλαίωση Επίπλων</h2>
                <p>
                    Με αγάπη και επιδεξιότητα, 
                    αναβιώνουμε τα παλιά σας έπιπλα, 
                    δίνοντάς τους νέα ζωή και χαρακτήρα. 
                    Φροντίζουμε για την 
                    ακεραιότητα και την αισθητική τους στο μέγιστο!
                </p>
            </div>
        </div>
    
        <div class="service">    
            <div class="text">
                <h2 class="service_inner_heading">Είδη Δώρων Γάμου-Βάφτισης</h2>
                <p>
                    Με λεπτομερή προσοχή στην 
                    εκάστοτε επιθυμία και ιδιαιτερότητα 
                    του ζευγαριού, δημιουργούμε εντυπωσιακά 
                    διακοσμητικά στοιχεία που θα 
                    κάνουν την ημέρα του γάμου σας μοναδική. 
                </p>
            </div>
        </div>
    
        <div class="service">
            <div class="text">
                <h2 class="service_inner_heading">Εμπορία Χρωμάτων Κιμωλίας</h2>
                <p>
                    Απογειώστε τη δημιουργικότητά σας με 
                    την πλούσια ποικιλία χρωμάτων κιμωλίας 
                    και ειδών τεχνοτροπίας που έχουμε 
                    να προσφέρουμε.
                </p>
            </div>
        </div>
    
        <div class="service">
            <div class="text">
                <h2 class="service_inner_heading">Σεμινάρια Βαψίματος</h2>
                <p>
                    Εξερευνήστε τον κόσμο των χρωμάτων 
                    και των τεχνικών μέσα από τα διασκεδαστικά 
                    και εκπαιδευτικά μας σεμινάρια, και 
                    ανακαλύψτε τη δημιουργικότητα μέσα σας.
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="contact_us">
        <h2>Επικοινώνησε μαζί μας.</h2>
        <a href="/contact"><button id="contact_us_btn">Πάτα εδώ</button></a>
    </div>
</div>