div.error {
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.error > img {
    width: 90%;
    max-width: 400px;
}

div.error > h2 {
    margin-top: 0;
    font-size: 1.8rem;
}

div.error > p {
    margin: 0;
    font-size: 1.24rem;
}


div.error > p > a  {
    font-weight: 600;
}