div.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.gallery_content {
    padding: 1rem;
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}

img.gallery_img {
    width: 100%;
    max-width: 450px;
    height: min-content;
    max-height: 600px;
}

@media screen and (min-width: 769px) {
    div.gallery_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
    }
}