div.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.gallery > h2 {
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
}

div.gallery_content {
    margin-block: 50px;
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

img.gallery_img {
    box-shadow: 5px 5px 5px rgb(149, 149, 149);
    border-radius: 3px;
    width: 100%;
    max-width: 350px;
    height: 500px;
}

.filters {
    background-color: white;
    width: 90%;
    padding: 16px;
    position: sticky;
    top: 102px;
    text-align: center; /* Align buttons to the center */
    display: grid;
    grid-template-columns: repeat(4, min-content);
    column-gap: 8px;
    justify-content: center;
}

.filters button {
    max-width: 250px;
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filters button:hover {
    background-color: #333;
    color: #fff;
}

@media screen and (min-width: 769px) {
    div.gallery_content {
        max-width: 1250px;   
    }
}