@import url('variables.css');

#hero_logo::selection {
    background-color: transparent;
}

* {
    font-family: var(--primary-font);
    box-sizing: border-box;
    transition: all 0.2s ease-in;
}

div.home > * {
    margin: 0;
}

div.home {
    width: 100%;
}

#hero_logo {
    width: 280px;
}
        
div.welcome {
    height: 90vh;
    display: flex;
    box-sizing: border-box;
    margin-top: 0;
    gap: 0;
    position: relative;
    background-image: url('../images/hero_background.jpg');
    background-size: cover;
    background-position: center;
} 

div.welcome > * {
    z-index: 3;
}

div.inner_wrapper {
    backdrop-filter: blur(2px);
    padding: 2rem 1rem;
    width: 100%;
    box-sizing: border-box;
    height: min-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

div.inner_wrapper > h2 {
    transform: translateY(-2rem);
    line-height: 5rem;
    font-size: 4rem;
    color: white;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.184);
    text-align: center;
    margin: 0;
}

div.welcome > div.inner_wrapper >  button.hero_btn {
    width: 250px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: auto;
    border-radius: 12px;

}

div.welcome > div.inner_wrapper >  button.hero_btn {
    outline: unset;
    border: unset;
    font-size: 1.2rem;
    background-color: var(--primary-font-color);
    padding: 1rem 2rem;
    font-weight: 600;
    text-wrap: nowrap;
    color: white;
}

div.welcome > div.inner_wrapper >  button.hero_btn:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

.hero_text {
    color: var(--primary-bg-color);
    justify-self: center;
    border-radius: 8px;
    font-size: 4rem;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

span#brand {
    display: block;
    font-size: 1.7rem;
    color: var(--primary-font-color);
    font-weight: 900;
}

.wave {
    transition: unset;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 86px;
}

.wave {
    fill: #E8681F;
}

.top_wave {
    top: 0;
}

div.hero {
    width: 100%;
}

article.paragraph > p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: black;
}

article.paragraph > h2 {
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 12px;
    color: var(--primary-font-color);
}

div.article_wrapper.second {
    background-color: var(--primary-font-color);
}

#white_p {
    color: white;
}

#white_heading {
    color: white;
}

div.text_wrapper {
    width: 100%;
}

div.inner_hero_wrapper {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;   
    flex-wrap: wrap;
}

div.article_wrapper {   
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding-block: 50px;
    position: relative; /* Ensure the pseudo-element is positioned relative to this */
    overflow: hidden; /* Prevents the pseudo-element from overflowing the rounded corners */
}

div.article_wrapper > svg {
    width: 100%;
    filter: drop-shadow(5px 5px 2px var(--primary-font-color));
}

div.article_wrapper:first-child {
    margin-top: 100px;
}

div.article_wrapper:last-child {
   margin-bottom: 100px; 
}

div.article_wrapper > div.image_holder {
    width: 100%;
}

div.article_wrapper > div.image_holder > img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgb(0,0,0, 0.4);
}

div.hero_services {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/services_background_2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

article.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: rgb(255,255,255, 0.8);
    padding: 3rem 1.5rem;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgb(0,0,0, 0.2);
    max-width: 400px;
}

article.services > h2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-font-color);
    margin: 0;
    text-align: center;
}

article.services > p {
    text-align: center;
    font-size: 1.02rem;
    line-height: 1.8rem;
}

#services_btn, a.button_primary {
    outline: unset;
    border: unset;
    font-size: 1.3rem;
    background-color: var(--primary-font-color);
    color: white;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 8px;
    text-wrap: nowrap;
    margin-top: 30px;
}

#services_btn:hover, a.button_primary:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

@media screen and (min-width: 769px) {

    div.inner_hero_wrapper {
        padding: 0;
    }

    div.article_wrapper:first-child {
        margin-top: unset;
    }
    
    div.article_wrapper:last-child {
       margin-bottom: unset; 
    }

    div.article_wrapper {
        background-color: white;
        height: 100vh;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    div.article_wrapper:nth-child(2) {
        background-color: var(--primary-font-color);
    }

    article.secondary.paragraph {
        order:2;
    }
    

    article.paragraph {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    article.paragraph > p {
        margin: 0;
        font-size: 1.3rem;
        color: black;
        padding: 2rem;
    }

    
    #white_p {
        color:white;
        text-align: right;
    }
    
    article.paragraph > h2 {
        line-height: 0;
        width: 100%;
        padding-inline: 2rem;
        color: var(--primary-font-color);
        text-align: left;
        margin: 0;
    }

    #white_heading {
        color: white;
        text-align: right;
    }

    div.welcome {
        flex-direction: row;
        justify-content: center;
    }

    div.inner_wrapper > h2 {
        font-size: 5rem;
    }

    article.services > p {
        font-size: 1.1rem;
    }

    a.button_primary {
        flex-wrap: wrap;
    }

    div.article_wrapper > div.image_holder >  img {
        width: 100%;
    }
}