@import url('variables.css');

#hero_logo::selection {
    background-color: transparent;
}

* {
    font-family: var(--primary-font);
    box-sizing: border-box;
    transition: all 0.2s ease-in;
}

div.home > * {
    margin: 0;
}

#hero_logo {
    width: 100%;
    max-width: 380px;
}
        
div.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

p.hero_welcome {
    padding: 10px;
    background-color: var(--primary-bg-color);
    justify-self: center;
    color: white;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 600;
    text-wrap: nowrap;
}
span#brand {
    font-size: 1.5rem;
    color: var(--primary-font-color);
    font-weight: 900;
}

div.hero {
    padding: 3rem;
    margin-inline: auto;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 100%;
}

article.paragraph {
    font-size: 1.1rem;
    color: var(--mobile-font-color);
    line-height: 1.6rem;
    text-align: center;
    /*border-left: 10px solid var(--primary-font-color);*/
}

div.text {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

div.hero > div.services {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}


#services_heading {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    padding: 4px;
    margin-bottom: 2rem;
    color: var(--mobile-font-color);
}

#services_btn {
    outline: unset;
    border: unset;
    font-size: 1.3rem;
    background-color: var(--primary-font-color);
    color: white;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 2px;
    text-wrap: nowrap;
}

#services_btn:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

@media screen and (min-width: 769px) {

    div.welcome {
        flex-direction: row;
        justify-content: center;
    }

    p.hero_welcome {
        font-size: 1.4rem;
    }

    span#brand {
        font-size: 1.8rem;
    }

    div.text {
        background-color: unset;
        display: flex;
    }

    #services_heading {
        background-color: white;
    }
}