@import url('variables.css');

#hero_logo::selection {
    background-color: transparent;
}

* {
    font-family: var(--primary-font);
    box-sizing: border-box;
    transition: all 0.2s ease-in;
}

div.home > * {
    margin: 0;
}

div.home {
    width: 100%;
}

#hero_logo {
    width: 280px;
}
        
div.welcome {
    height: 90vh;
    display: flex;
    box-sizing: border-box;
    margin-top: 0;
    gap: 0;
    position: relative;
    background-image: url('../images/hero_background.jpg');
    background-size: cover;
    background-position: center;
} 

div.welcome > * {
    z-index: 3;
}

div.inner_wrapper {
    backdrop-filter: blur(2px);
    padding: 2rem 1rem;
    width: 100%;
    box-sizing: border-box;
    height: min-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

div.inner_wrapper > h2 {
    line-height: 5rem;
    font-size: 4rem;
    color: white;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.284);
    text-align: center;
    margin: 0;
}

div.welcome > div.inner_wrapper >  button.hero_btn {
    outline: none;
    border: none;
    width: 250px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: auto;

}

div.welcome > div.inner_wrapper >  button.hero_btn {
    outline: unset;
    border: unset;
    font-size: 1.2rem;
    background-color: var(--primary-font-color);
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 2px;
    text-wrap: nowrap;
    color: white;
}

div.welcome > div.inner_wrapper >  button.hero_btn:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

.hero_text {
    color: var(--primary-bg-color);
    justify-self: center;
    border-radius: 8px;
    font-size: 4rem;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

span#brand {
    display: block;
    font-size: 1.7rem;
    color: var(--primary-font-color);
    font-weight: 900;
}

.wave {
    transition: unset;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 86px;
}

.wave {
    fill: #E8681F;
}

.top_wave {
    top: 0;
}

div.hero {
    width: 100%;
}

article.paragraph {
    text-align: center;
    max-width: 650px;
}

article.paragraph > p {
    color: var(--mobile-font-color);
    font-size: 1.1rem;
    line-height: 2rem;
}

article.paragraph > h2 {
    color: var(--primary-font-color);
}

div.text_wrapper {
    padding-top: 3rem;
    width: 100%;
    margin-inline: auto;
    --s: 300px; /* control the size */    
    --_g: #0000 90deg,var(--primary-font-color) 0;
    background: 
      conic-gradient(from 90deg at 2px 2px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g));
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
    background-position: center;
}

div.text {
    width: 100%;    
}

div.hero > div.hero_services {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

div.article_wrapper {
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.401);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin: auto;
    max-width: 800px;
    padding: 2rem;
    margin-block: 50px;
    border-radius: 8px;
}

div.article_wrapper:first-child {
    margin-top: 100px;
}

div.article_wrapper:last-child {
   margin-bottom: 100px; 
}

div.article_wrapper > img {
    width: 82px;
}

div.hero_services {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    background-image: url('../images/services_background_2.jpg');
    background-size: cover;
    background-position: center;
    height: min-content;
}

article.services {
    align-self: center;
    backdrop-filter: blur(5px);
    padding: 3rem 1.5rem;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.4);
    width: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    max-width: 550px;
    font-size: 1.2rem;
    line-height: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

article.services > h2 {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-font-color);
    line-height: 2.3rem;
    text-align: center;
}

article.services > p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.1rem;
}

#services_btn, a.button_primary {
    outline: unset;
    border: unset;
    font-size: 1.3rem;
    background-color: var(--primary-font-color);
    color: white;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 8px;
    text-wrap: nowrap;
    margin-top: 50px;
}

#services_btn:hover, a.button_primary:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

@media screen and (min-width: 769px) {

    div.article_wrapper {
        margin: auto;
        flex-direction: row;
        margin-top: 200px;
        padding: 4rem;
    }
    
    div.article_wrapper:nth-of-type(2) > article.paragraph {
        order: 1;
        text-align: right;
    }
    
    div.welcome {
        flex-direction: row;
        justify-content: center;
    }

    div.inner_wrapper > h2 {
        font-size: 5rem;
    }

    div.text {
        background-color: unset;
        display: flex;
    }

    
    div.services {
        flex-direction: row;
    }    

    article.paragraph {
        text-align: left;
        font-size: 1.2rem;
    }

    article.services {
        padding: 3rem;
    };
    a.button_primary {
        flex-wrap: wrap;
    }
    div.inner_wrapper > div.text > h2 {
        text-align: left;
    }
}