@import url('variables.css');

@keyframes preview_photo {
    0% {
        opacity: 0.4;
        transform: scale(1.1);
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes float {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

div.photo_carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

div.inner {
    outline: 2px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 500px;
}

div.photo {
    width: 100%;
    position: absolute;
    animation: preview_photo;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

div.photo > img {
    width: 100%;   
}

div.photo_carousel > span {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    z-index: 1;
    position: absolute;
    
    animation-name: float;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

div.photo_carousel > span > img:hover {
    cursor: pointer;
}

div.photo_carousel > span > img {
    width: 68px;
}