@import url('variables.css');

@keyframes preview_photo {
    0% {
        opacity: 0.4;
        transform: scale(1);
    }
    90% {
        opacity: 1;
        transform: scale(1.02);
    }

    100% {
        opacity: 0.4;
        transform: scale(1);
    }
}

@keyframes float {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

div.photo_carousel {
    margin-top: 5rem;
    border-block: 5px dashed var(--primary-font-color);
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div.inner {
    width: 100%;
    order: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 500px;
}

div.photo {
    width: 100%;
    position: absolute;
}

div.photo > img {
    width: 100%;
    animation: preview_photo;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

div.photo_carousel > span {
    order: 2;
    margin-inline: auto;
    margin-top: 2rem;
    z-index: 1;
    animation-name: float;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

div.photo_carousel > span > img:hover {
    cursor: pointer;
}

div.photo_carousel > span > img {
    width: 52px;
}