@import url('variables.css');

div.service {
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    max-width: 370px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.336);
    border-radius: 20px;
    border-top: 25px solid var(--primary-bg-color);
    border-bottom: 25px solid var(--primary-font-color)
}

div.text {
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.text > h2 {
    margin: 0;
}

div.text > p {
    margin: 0;
    padding-inline: 5px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
    font-family: var(--secondary-font);
}

#seminars_img {
    height: 420px;
}

div.services_preview > * {
    box-sizing: border-box;
    font-family: var(--primary-font);
}
div.services_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#services_heading {
    justify-self: center;
    margin: 0;
}

#services_heading, div.services_preview > p, div.contact_us > h2 {
    color: var(--mobile-font-color);
}

h2.services_heading {
    color: var(--mobile-font-color);
}

h2.service_inner_heading {
    text-align: center;
    color: var(--primary-font-color);
    font-size: 1.2rem;
}

div.service_hero {
    background-size: 100% 150px;
}



div.contact_us {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

div.contact_us > a:hover {
    color: var(--primary-font-color);
}

#contact_us_btn {
    outline: unset;
    border: unset;
    font-size: 1.2rem;
    background-color: var(--primary-font-color);
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 2px;
    text-wrap: nowrap;
}

#contact_us_btn {
    color: white;
    margin: 0;
}

#contact_us_btn:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

@media screen and (min-width: 769px) {
    
    div.services {
        gap: 4rem;
    }

    div.service {
        flex-direction: row;
        box-shadow: unset;
        width: 90%;
        max-width: 750px;
        gap: unset;
        
    }

    div.service:nth-of-type(odd) {
        border-right: 25px solid var(--primary-bg-color);
        margin-right: 5%;
        border-top: unset;
        border-bottom: unset;
    }

    div.service:nth-of-type(even) {
        border-left: 25px solid var(--primary-font-color);
        margin-left: 5%;
        border-top: unset;
        border-bottom: unset;
    }

    div.service:nth-of-type(even) > img {
        order: 2;
        border-top-left-radius: unset;
        border-bottom-right-radius: inherit;
    }

    div.service:nth-of-type(odd) > img {
        border-top-right-radius: unset;
        border-bottom-left-radius: inherit;
    }

    div.service:nth-of-type(odd) > div.text {
        border-bottom: 25px solid var(--primary-font-color);
    }

    div.service:nth-of-type(even) > div.text {
        border-bottom: 25px solid var(--primary-bg-color);
    }


    div.text {
        justify-content: center;
        
    }

    div.text > h2 {
        font-size: 1.4rem;
    }
    div.text > p {
        font-size: 1.26rem;
    }
}