@import url('variables.css');

div.services_wrapper {
    width: 100%;
    --s: 300px; /* control the size */    
    --_g: #0000 90deg,var(--primary-font-color) 0;
    background: 
      conic-gradient(from 90deg at 2px 2px,var(--_g)),
      conic-gradient(from 90deg at 1px 1px,var(--_g));
    background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
    background-position: center;
}

div.text {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.service > h2 {
    margin: 0;
    color: var(--primary-bg-color);
    padding-bottom: 3px;
    width: min-content;
    text-wrap: nowrap;
}

div.text > p {
    margin: 0;
    padding-inline: 5px;
    line-height: 1.7rem;
    font-size: 1.1rem;
    text-align: left;
}

#seminars_img {
    height: 420px;
}

div.services_preview > * {
    box-sizing: border-box;
    font-family: var(--primary-font);
}
div.services_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.services {
    padding-block: 5rem;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

div.service {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    min-width: 250px;
    max-width: 450px;
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 48px;
    align-items: center;
    height: 80px;
    overflow: hidden;
    border-left: 5px solid var(--primary-font-color);
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.37);
    transition: 0.1s ease-in;
}

div.service > img::selection {
    background-color: transparent;
}

div.service > img:hover {
    cursor: pointer;
}

div.service > h2 {
    font-size: 0.80rem;
    width: 100%;
}

div.service > div.text > p {
    font-family: var(--primary-font);
}

#services_heading {
    z-index: 2;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: white;
    color: white;
    /*background-image: linear-gradient(to right, #e96443, #904e95)*/
    background-image: linear-gradient(to right, #FF5F6D, #FFC371);
    position: sticky;
    top: 100px;
}

h2.services_heading {
    color: var(--mobile-font-color);
}

h2.service_inner_heading {
    text-align: left;
    color: var(--primary-font-color);
    font-size: 1.1rem;
}

div.service_hero {
    background-size: 100% 150px;
}
div.contact_us {
    margin-block: 60px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

div.contact_us > a:hover {
    color: var(--primary-font-color);
}

div.contact_us > h2 {
    color: var(--primary-font-color);
    margin: 0;
    font-size: 1.6rem;
}

div.contact_us > p {
    font-size: 1.2rem;
    text-align: center; 
    max-width: 450px;
    margin-bottom: 3rem;
    line-height: 1.8rem;
}

#contact_us_btn {
    outline: unset;
    border: unset;
    font-size: 1.2rem;
    background-color: var(--primary-font-color);
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 8px;
    text-wrap: nowrap;
    color: white;
    margin: 0;
}

#contact_us_btn:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
}

@media screen and (min-width: 769px) {
    
    div.services {
        margin: auto;
        gap: 1.5rem;
    }

    div.service {
        flex-direction: row;
        width: 90%;
        max-width: 750px;
        gap: unset;
    }

    div.service > h2 {
        font-size: 1.1rem;
    }

    div.services > h2 {
        font-size: 1.4em;
    }

    div.text > p {
        font-size: 1.26rem;
    }

    #services_heading {
        text-align: center;
    }
}