@import url('./navbar.css');
@import url('./home.css');
@import url('./contact.css');
@import url('./services.css');
@import url('./photo_carousel.css');
@import url('./footer.css');
@import url('./gallery.css');
@import url('./404.css');

* a {
    text-decoration: none;
}

body, body > * {
    box-sizing: border-box;

}

body {
    width: 100%;
    margin: 0;
    margin-inline: auto;
}
