@import url('./navbar.css');
@import url('./home.css');
@import url('./contact.css');
@import url('./services.css');

* a {
    text-decoration: none;
}

body, body > * {
    box-sizing: border-box;

}

body {
    margin: 0;
    margin-inline: auto;
    position: relative;
}